<br>
<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">Shop</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/admin/index">dashboard</a></li>
      <li class="navbar-item">
        <a class="navbar-link active" href="#" data-popover="#Browse">Browse</a>
        <div id="Browse" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="/admin/users">Users</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/farmers">Farmers</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/orders">Orders</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/products">Products</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/payments">Payments</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#Create">Create</a>
        <div id="Create" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/users">Users</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/products">Products</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/categories">Categories</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="navbar-item"><a class="navbar-link" href="/admin/line">line</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
        <div id="moreNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/pcreem/copShop
">On Github</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#browser-support">Browsers</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#license">License</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#extensions">Extensions</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton/releases">Versions</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#colophon">Colophon</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<a class="button" href="/admin/create/users">User</a>
<a class="button button-primary" href="/admin/create/farmers">Farmer</a>
<br><br>
{{#if farmer}}
<form action="/admin/farmers/{{farmer.id}}?_method=PUT" method="POST">
  {{else}}
  <form action="/admin/farmers" method="POST">
    {{/if}}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{farmer.name}}">
    </div>

    <div class="form-group">
      <label for="line">Line</label>
      <input type="text" class="form-control" name="line" id="line" placeholder="Enter line" value="{{farmer.line}}">
    </div>

    <div class="form-group">
      <label for="tel">Tel</label>
      <input type="text" class="form-control" name="tel" id="tel" placeholder="Enter tel" value="{{farmer.tel}}">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address" id="address" placeholder="Enter address"
        value="{{farmer.address}}">
    </div>

    <button type="submit" class="button-primary">Submit</button>
  </form>
</div>