<br>
<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">Shop</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/admin/index">dashboard</a></li>
      <li class="navbar-item">
        <a class="navbar-link active" href="#" data-popover="#Browse">Browse</a>
        <div id="Browse" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="/admin/users">Users</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/farmers">Farmers</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/orders">Orders</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/products">Products</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/payments">Payments</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#Create">Create</a>
        <div id="Create" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/users">Users</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/products">Products</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/categories">Categories</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="navbar-item"><a class="navbar-link" href="/admin/line">line</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
        <div id="moreNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/pcreem/copShop
">On Github</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#browser-support">Browsers</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#license">License</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#extensions">Extensions</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton/releases">Versions</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#colophon">Colophon</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<pre>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>line</th>
        <th>#</th>
        <th>#</th>
        <th>          #</th>
      </tr>
    </thead>
    <tbody>
      {{#each farmers}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.line}}</td> 
        <td><a href="/admin/farmers/{{this.id}}/detail">detail</a></td>
        <td><a href="/admin/farmers/{{this.id}}/edit">edit</a></td> 
        <td><form action="/admin/farmers/{{this.id}}?_method=DELETE" method="POST" style="display: inline; ">
          <a href="#" onclick="this.parentNode.submit()">delete</a>
        </form></td>    
      </tr>
      {{/each}}
    </tbody>
  </table>
</pre>