<br>
<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">Shop</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/admin/index">dashboard</a></li>
      <li class="navbar-item">
        <a class="navbar-link active" href="#" data-popover="#Browse">Browse</a>
        <div id="Browse" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="/admin/users">Users</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/farmers">Farmers</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/orders">Orders</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/products">Products</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/payments">Payments</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#Create">Create</a>
        <div id="Create" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/users">Users</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/products">Products</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/admin/create/categories">Categories</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="navbar-item"><a class="navbar-link" href="/admin/line">line</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
        <div id="moreNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/pcreem/copShop
">On Github</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#browser-support">Browsers</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#license">License</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#extensions">Extensions</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton/releases">Versions</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#colophon">Colophon</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>

<h6 class="docs-header">User Detail</h6>
<pre>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>email</th>
        <th>address</th>
        <th>tel</th>
        <th>role</th>
      </tr>
    </thead>
    <tbody>    
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>{{user.tel}}</td>
        <td>{{user.role}}</td>     
      </tr>
    </tbody>
  </table>
</pre>

<div class="docs-section">
  <h6 class="docs-header">Order Lists</h6>
  <pre>

{{#each user.Orders}}
<table class="u-full-width">
  <thead>
    <tr>
      <th>SN</th>
      <th>name</th>
      <th>address</th>
      <th>tel</th>
      <th>shipping</th>
      <th>payment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{this.sn}}</td>
      <td>{{this.name}}</td>
      <td>{{this.address}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.shipping_status}}</td>
      <td>{{this.payment_status}}</td>
    </tr>
  </tbody>
</table>

<table cclass="u-full-width">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">quantity</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.items}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.OrderItem.quantity}}</td>
          <td>{{this.price}}</td>
        </tr>
        {{/each}}
        <tr>
          <td>Total</td>
          <td></td>
          <td>{{this.amount}}</td>
        </tr>
      </tbody>
</table>

</pre>
</div>
{{/each}}